* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
  margin-top: 2rem;
}
.body {
  background-color: gray;
  color: white;
  padding: 2rem;
}
footer {
  margin-bottom: 2rem;
}
